{{ header }}

<iframe name="Yjpay_Iframe" style="border: 0;" width="100%" height="600px"></iframe>
<form action="{{ action }}" target="Yjpay_Iframe" method="POST" id="yjpaysubmit">
    {% for key, value in form_params %}
        <input type="hidden" name='{{ key }}' value='{{ value }}'>
    {% endfor %}
</form>

<script type="text/javascript"><!--
        $(function(){
            $('#yjpaysubmit').submit()
        });
    //--></script>

{{ footer }}