<style>
    .error {
        margin-top: 4px;
        color: #e83131;
        position: relative;
        margin-bottom: -5px;
    }
    .select{
        height: 40px;
        border-radius: 5px;;
        position: relative;
    }
    select{
        /*清除select的边框样式*/
        border: none;
        /*清除select聚焦时候的边框颜色*/
        outline: none;
        /*将select的宽高等于div的宽高*/
        width: 100px;
        height: 33px;
        line-height: 33px;
        /*隐藏select的下拉图标*/
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        /*通过padding-left的值让文字居中*/
        padding-left: 10px;
    }
    /*使用伪类给select添加自己想用的图标*/
    .select:after{
        content: "";
        width: 30px;
        height: 32px;
        background: url('http://static.yiji.com/inter/intelaccessweb-cq/creditcard/creditcard/2.0.2/images/select_right3_52039004b85a7942c07783fe20cfaa3f.gif') no-repeat left;
        /*通过定位将图标放在合适的位置*/
        position: absolute;
        right: 0.5%;
        top: 1%;
    }
    .col-sm-select {
        float: left;
        padding: 0 16px 0 14px;
        width: 11.333333%;
    }
    .col-sm-text {
        width: 50%;
        float: left;
    }
    .MYerror {
        float: left;
        margin-left: 18%;
        margin-top: -2%;
    }

</style>
<div id="braintree-alert" style="display:none;" class="alert alert-danger" ></div>
<div id="braintree-loading" style="display:none; text-align: center"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i> <span>{{ text_loading }}</span></div>
<form id="braintree-new" method="post" action="{{ payment_url }}" class="form-horizontal" autocomplete="off" onsubmit="return checkPost();" name="yjpay">
    <fieldset>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-card-type">{{ entry_card_type }}</label>
            <div class="col-sm-select">
                <div class="select">
                    <select name="cardType" id="cardType" style="" class="jqTransformHidden">
                        <option value="" selected="selected" data-i18n="home.month">CardType</option>
                        <option value="Visa"> Visa</option>
                        <option value="Mastercard"> Mastercard </option>
                        <option value="JBC"> JBC </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0">
            <div class="MYerror">
                <p class="error fn-hide" id="cardTypeError">The credit card type is incorrect</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-card-number">{{ entry_card }}</label>
            <div class="col-sm-5">
                <div class="col-sm-text">
                    <input name="cardNumber" id="cardNumber" type="text" class="ipt ipt-num">
                    <p class="error fn-hide" id="cardError">Please input the correct card number</p>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_expires }}</label>
            <div class="col-sm-select">
                <div class="select">
                    <select name="month" id="month" style="" class="jqTransformHidden">
                        <option value="" selected="selected" data-i18n="home.month">Month</option>
                        {% for month in expires_month %}
                            <option value="{{ month }}"> {{ month }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-select">
                <div class="select">
                    <select name="year" id="year" style="" class="jqTransformHidden">
                        <option value="" selected="selected" data-i18n="home.year">Year</option>
                        {% for year in expires_year %}
                            <option value="{{ year }}"> {{ year }} </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group" style="margin-bottom: 0">
            <div class="MYerror">
                <p class="error fn-hide" id="monthError">Please input the correct expiration month</p>
                <p class="error fn-hide" id="yearError">Please input the correct expiration year</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_cvv }}</label>
            <div class="col-sm-2">
                <div class="ipt-group fn-clear">
                    <input name="securityCode" id="securityCode" type="text" class="ipt">
                </div>
                <div class="payment_icon_box_en" style="display : none;">
                    <div class="payment_icon_box_txt_en" data-i18n="home.cvvtip1">What is CVV2？</div>
                    <div class="payment_icon_box_pic_en"><span style="width : 85px;display : inline-block;position : relative;margin-left : 100px;" data-i18n="home.cvvtip2">3-digit security code</span></div>
                </div>
                <p class="error fn-hide" id="cvvError">Incorrect CVV2 is error</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" id="submit-new" class="btn btn-primary button-submit pull-right braintree-button">{{ button_confirm }}</button>
            </div>
        </div>
    </fieldset>
</form>
<script type="text/javascript">
    $('#cvvError').hide();
    $('#cardError').hide();
    $('#cardTypeError').hide();
    $('#monthError').hide();
    $('#yearError').hide();

    function checkPost(){
        var cardType = document.getElementById("cardType");
        var year = document.getElementById("year");
        var month = document.getElementById("month");
        var cardNumber = document.getElementById("cardNumber");
        var securityCode = document.getElementById("securityCode");
        var checkoutResult = true;
        if (cardType.value.length < 1){
            $('#cardTypeError').show();
            checkoutResult = false;
        }else {
            $('#cardTypeError').hide();
        }
        if(!checkCardNum(cardNumber.value)){
            $('#cardError').show();
            checkoutResult = false;
        }else {
            $('#cardError').hide();
        }

        if (month.value.length < 1){
            $('#monthError').show();
            checkoutResult = false;
        }else {
            $('#monthError').hide();
        }
        if (year.value.length < 1){
            $('#yearError').show();
            checkoutResult = false;
        }else {
            $('#yearError').hide();
        }
        if (checkCvv(securityCode.value)){
            $('#cvvError').show();
            checkoutResult = false;
        }else {
            $('#cvvError').hide();
        }
        if (checkoutResult){
            $('#braintree-loading').show();
        }else {
            return false;
        }
    }
    function checkCardNum(cardNumber) {
        if(cardNumber == null || cardNumber == "" || cardNumber.length > 16 || cardNumber.length < 13) {
            return false;
        }else if(cardNumber.charAt(0) != 3 && cardNumber.charAt(0) != 4 && cardNumber.charAt(0) != 5){
            return false;
        }else {
            return luhnCheckCard(cardNumber);
        }
    }
    function luhnCheckCard(cardNumber){
        var sum=0;var digit=0;var addend=0;var timesTwo=false;
        for(var i=cardNumber.length-1;i>=0;i--){
            digit=parseInt(cardNumber.charAt(i));
            if(timesTwo){
                addend = digit * 2;
                if (addend > 9) {
                    addend -= 9;
                }
            }else{
                addend = digit;
            }
            sum += addend;
            timesTwo=!timesTwo;
        }
        return sum%10==0;
    }
    function checkCvv(cvv) {
        return cvv == null || cvv =="" || cvv.length < 3 || cvv.length > 4 || isNaN(cvv);
    }

</script>
